.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #03030366;
  border-radius: 5px;
  margin-top: 15px;
}

.contactName {
  font-weight: bold;
  margin-right: 10px;
}

.deleteButton {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}