.navLink {
  display: block;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.navLink:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #e2e2e1;
}

.container {display: flex;}

.navigation {
  display: flex;
  align-items: center;
}