.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e4e4e4;
}

.title {
  font-size: 24px;
  text-align: center;
  color: #333333;
}

.icon {
  margin-left: 10px;
  font-size: 30px;
}